.dialog-bg{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 100;
    background-color:rgba(0,0,0,0.3)
}

.dialog{
    position:absolute;
    font-size:14px;
    color:#333;
    width:250px;
    left:50%; top:50%;
    background-color: #fff;
    transform:translate(-50%, -50%);
}

.dialog-header{
    padding: 12px;
    font-weight: 600;
    color: white;
    background-color: #4095D5;
    border-bottom: 1px solid #ccc;
}

.dialog-body{
    padding:12px;
    min-height: 36px;
    line-height: 18px;
    height: 50px;
    text-align: center;
}

.dialog-footer{
    padding:12px;
    text-align: right;
    border-top:1px solid #ccc;
}

.dialog-footer button{
    display: inline-block;
    width:96px;
    height:32px;
    font-size:14px;
    cursor:pointer;
    color: white;
    background-color: #4095D5;
    border:1px solid #ccc;
}