*{
    padding: 0;
    margin: 0;
}
.resetPassword{
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
}
.reset-content{
    text-align: center;
    padding-top: 20px;
}
.reset-content div{
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #4095D5;
}
.reset-content i{
    font-size: 25px;
    color: #4095D5;
    float: left;
}
.reset-content input{
    outline: none;
    width: 50%;
    border: 0;
    float: left;
    height: 25px;
    padding-left: 15px;
}
.reset-content span{
    color: #d00000;
}
#reset-input{
    float: left;
    width: 50%;
    outline: none;
    border: 0;
    padding-top: 10px;
    padding-left: 15px;
}
.yanzhenma{
    width: 30%;
    float: right;
    height: 40px;
    color: #4095D5;
    background-color: white;
    border: 1px solid #4095D5;
    font-size: 14px;
}
.resetPassword-next{
    display: block;
    width: 90%;
    height: 40px;
    color: white;
    background-color: #4095D5;
    border: 0;
    line-height: 40px;
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
}